
.game-image{
  display: block;
  width: 90%;
  margin: 0 auto;
}

.dropdown{
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
}
.dropdown div{
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(110, 110, 110);
  max-width: 100px;
  padding: 10px;
}

.timer{
  font-size: 50px;
  width: 130px;
  position: fixed;
  left: calc(50% - 65px);
  top: 5px;
  z-index: 12;
}