@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  color: rgb(110, 110, 110);
}

.App{
  background-color: rgb(240, 239, 239);
  min-height: 100vh;
  width: 100vw;
}


.navbar{
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 94vw;
  padding: 5px 50px;
  box-shadow: 5px 5px rgb(235, 234, 234);
}

.navbar h2{
  width: fit-content;
}
.navbar-group{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-element{
  height: fit-content;
  width: fit-content;
  padding: 5px;
  margin-left: 20px;
}
.nav-sign{
  background-color: transparent;
  border: 1px solid rgb(110, 110, 110);
  font-size: 20px;
}


.game-image{
  display: block;
  width: 90%;
  margin: 0 auto;
}